<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <%- include('../../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../../partials/header'); %>
    </header>
    <main>
        <div class="centre">
            <h1><%= projectInformation.Name %></h1>
                <% if (projectInformation.Desc == null || projectInformation.Desc.length <= 0) {%>
                <p>Project description not found</p>
                <%} else { %>
                    <p><%= projectInformation.Desc %></p>
                <% } %>
        </div>
    </main>

    <footer>
        <%- include('../../partials/footer'); %>
    </footer>
</body>
</html>
